<p id="notice"><%= notice %></p>

<p>
  <strong>NOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
  <table>
  <% @articles_user.each do |art| %>
    <tr>
      <td><%= art.name %></td>
      <td><%= art.description %></td>
    </tr>
  <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>